
*{
    box-sizing:border-box
}
body{
    font-family: Arial, Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    margin:8;
}
.navbar{
    overflow:hidden;
    background-color:cornsilk;
}
navbar a{
    float: left;
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover{
    background-color:aquamarine;
    color:dodgerblue
}