
*{
    box-sizing:border-box
}
body{
    font-family: Arial, Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    margin:8;
}
.navbar{
    overflow:hidden;
    background-color:blueviolet;
}
.navbar a{
    float: left;
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 260.85px;
    text-decoration:none;
}
.navbar a:hover{
    background-color:aquamarine;
    color:dodgerblue
}
.header{
    padding: 80px;
    text-align: center;
   background:plum;
    color:black
}
.header h1{
font-size: 40px;
}
.row{
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
.side{
    -ms-flex: 30%;
    flex: 30%;
    background-color:pink;
    padding: 24px;
}
.main{
    -ms-flex: 70%;
    flex:70%;
    background-color:gainsboro;
    padding: 20px;
}
.hidden{
    display:none
}
.footer{ padding: 20px;
text-align:center;
background-color:rgb(181, 116, 137);}
.footer p{
    color:rgb(10, 1, 10)
}
